@import 'tailwindcss';

@layer utilities {
  .container {
    width: 100%;
    max-width: 1366px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .animate-slide-down {
    animation: slideDown 0.25s ease-out forwards;
  }

  @media (min-width: 1536px) {
    .container {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
  }
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-0.25rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
